<!-- BEGIN FORGOT PASSWORD FORM -->
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "forget-form" }) do |f| %>
    <h3 class="font-green">Forget Password ?</h3>
    <p> Enter your e-mail address below to reset your password. </p>
    <div class="form-group">
    	<%= f.email_field :email, autofocus: true, :class => "form-control placeholder-no-fix", placeholder: "Email" %>
    <div class="form-actions">
    	<%= f.submit "Send Instructions", :class => "btn btn-success uppercase" %>
    </div>
	<%= render "devise/shared/links" %>
<% end %>
