<h4>Accounts</h4>
<hr />
<div id="accounts">
	<%= f.fields_for :accounts, :wrapper => false do |account_form| %>
		<table class="table fields table-bordered">
			<%= render partial: "shared/nested_account_form" , locals: {f: account_form} %>
		</table>
	<% end %>
</div>
<p><%= f.link_to_add "Add New Account", :accounts, :data => { :target => "#accounts" } %></p>