<tr class="fields">
	<td><%= f.text_field :name, :class => "btn-block btn-block-level-input" %></td>
	<td><%= f.text_field :description, :class => "btn-block btn-block-level-input" %></td>
	<td><%= f.link_to_remove "Remove" %></td>
</tr>