<tr class="fields">
	<td>
		<%= f.hidden_field :id %>
		<%= f.text_field :name, :class => "btn-block btn-block-level-input" %>
	</td>
	<td><%= f.text_field :description, :class => "btn-block btn-block-level-input" %></td>
	<td>
		<%= f.link_to_remove do %>
			<button class="btn btn-danger">
				<i class="fa fa-times"></i> Hobby
			</button>
		<% end %>
	</td>
</tr>