<div class="jumbotron">
	<div class="span6 offset1 left">
  		<h1 class="heading">Core Factory</h1> 
  		<p class="subheading">Provides you with easy interface to manage your workplace</p>
  	</div>
  	<div>
		<form>
			<div id="create_user_form_in_index" class="right">
			</div>
			<fieldset>
				<div class="form right">
					<dl class="form right">
						<dd><input id="fullname" class="btn-block btn-block-level-input" type="text" value="" placeholder="Your Full name", name="fullname"></input></dd>
					</dl>
					<dl class="form">
						<dd><input id="fullname" class="btn-block-level-input" type="text" value="" placeholder="Your Full name", name="fullname"></input></dd>
					</dl>
					<dl class="form">
						<dd><input id="fullname" class="btn-block-level-input" type="text" value="" placeholder="Your Full name", name="fullname"></input></dd>
					</dl>
					<dl class="form">
						<dd><input id="fullname" class="btn btn-primary btn-large btn-block" value="Register" type="submit"></input></dd>
					</dl>
				</div>
			</fieldset>
		</form>
	</div>
</div>
