<h2>Branches</h2>
<hr />
<div id="branches">
	<%= f.fields_for :branches, :wrapper => false do |branch_form| %>
		<table class="table fields table-bordered">
			<%= render partial: "companies/nested_branches_form" , locals: {branch_form: branch_form} %>
		</table>
	<% end %>
</div>
<p><%= f.link_to_add "Add a branch", :branches, :data => { :target => "#branches" } %></p>