<h4>Products</h3>
<div id="products">
	<%= f.fields_for :products, :wrapper => true do |product_form| %>
		<table class="table fields table-bordered">
			<%= render partial: "companies/nested_product_form" , locals: {f: product_form} %>
		</table>
	<% end %>
</div>
<p><%= f.link_to_add "Add New Product", :products, :data => { :target => "#products" } %></p>