#create_user_form_in_index{
	margin:0;
	padding:0;
	display:inline
}
div.left{
	float: left;
  	text-align: center;
 	margin: 2px 30px;
  	display: inline
}
div.right{
	float: right;
  	text-align: left;
 	margin: 2px 10px;
  	display: inline
}