<%
	account_types = {
		'Account Type' => '',
		'Bank Account' => 'bank_account',
		'Company Account' => 'company_account'		
	}
%>

<div>
	<%= link_to "Add New Account", new_account_path, :class => "btn btn-primary" %>
	
	<%= collection_select(:branch, :id, Array.new, :id, :name, {:include_blank => 'Select Account holder'}, {:id => "account_holder_selector",:class => 'dropdown dropdown-menue btn btn-default pull-right relative-position'}) rescue nil %>

	<%= select_tag :option, options_for_select(account_types), { :id => "account_type_selector", :class => 'btn btn-default pull-right relative-position' } rescue nil %>
	<hr />
	<hr />
</div>

<div id="all_accounts_table">
	<%= render partial: "accounts/accounts_table" %>
</div>